<!DOCTYPE html>
<html>
  <head>
    <title>Publications</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class='header'>
      <% if session[:user_name] %>
        <%= link_to 'View Publications', '/' %>
        <%= link_to 'Create Publication', '/publications/new' %>
        <%= link_to 'Create User', '/users/form' if session[:user_role] == 'admin' %>
        <div class='userName'><%= session[:user_name] %> (<%= session[:user_role]%>)</div>
        <%= link_to 'Logout', '/users/logout' %>
      <% elsif %>
        <%= link_to 'Login', '/users/login' %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
